/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Karla', sans-serif;
  padding-top: 50px;
}

.navbar > .container-fluid .navbar-brand{
  color: white;
  margin-left: -7px;
  font-size: 2.8rem;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
  background: #7151AE;
}


/*search & buttons*/
input.search {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn-group {
  display: flex;
}
.btn-group .btn {
  background: white;
  color: #714EB0;
  flex: 1;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.btn-group .btn.active {
  color: #E2DDFA;
  background: #5834B0;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.filename {
  font-weight: lighter;
  font-size: 2rem;
}
.sidebar .date {
  color: dimgray;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #F6F6F6;
  float: right;
  margin-right: -40px;
  margin-top: -23px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 49px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #384047;
  }
  .main {
    position: fixed;
    right: 0;
    top: 45px;
    bottom: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f6f6f6;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.code-area {
  padding: 10px 20px;
  margin: auto;
  width: 100%;
}
.code-area h3 {
  margin-top: 0px;
}
.credits {
  line-height: 2rem;
  color: #A9A9A9;
}
.credits a {
  color: #582DB3;
}
.description {
  margin-top: 20px;
}
.description .text {
  color: gray;
}
.ace_editor {
  width: 100%;
  height: 70vh;
}
.gist {
  background: white;
  margin: 5px 0px;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}
.activeGist {
  background: white;
  margin: 15px 0px;
  padding: 15px 20px;
}


/*animating views*/

.fadeIn.ng-enter {
  -webkit-transition:0.8s linear all;
  -moz-transition:0.8s linear all;
  -o-transition: 0.8s linear all;
  -ms-transition: 0.8s linear all;
  transition:0.8s linear all;
}


.fadeIn.ng-enter {
  z-index:100;
  opacity:0;
}
.fadeIn.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}
